{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">


        {{
        form_start(form, {
            'attr': {
                'class': 'was-validated',
                'id': 'calculate_form',
                'novalidate': 'novalidate'
            }
        })
        }}
            <div class="form-group row">
                {{ form_label(form.postal_address, 'Postal Address', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-7">
                    {{ form_widget(form.postal_address, { 'attr': {'class': 'form-control is-invalid', 'placeholder': 'Enter Postal address', 'required': 'true'} }) }}
                </div>
                <div class="col-sm-3">
                    <small id="postal_address_error" class="text-error text-danger" style="font-size:70%;">
                    </small>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.ip_address, 'IP Address', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-7">
                    {{ form_widget(form.ip_address, { 'attr': {'class': 'form-control is-invalid', 'placeholder': 'Enter IP address', 'required': 'true'} }) }}
                </div>
                <div class="col-sm-3">
                    <small id="ip_address_error" class="text-error text-danger" style="font-size:70%;">
                    </small>
                </div>
            </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <button type="submit" id="submit-btn" class="btn btn-primary">Calculate</button>
            </div>
            <div id="distance" style="display:none;">
                    La distance est : <span style="color:#1C440C;font-weight:bold;"></span> KM
            </div>
        </div>
            {{ form_end(form) }}

    </div>

{% endblock %}
